body{
  padding:0;
  margin:0;
  font-size: 16px;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}

#loading{
  z-index: 25;
  position: fixed;
  width: 100%;
  top:0;
  background: white;
  height: 100%;
  .loadingWrapper{
    font-family: sans-serif;
    position: absolute;
    width:120px;
    height:120px;
    top:50%;
    left:50%;
    text-align:center;
    transform: translate(-60px, -60px);
    i{
      opacity:0.4;
      margin:5px;
      font-size:25px;
    }
  }

  background: rgba(255,255,255,1);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
}

#loadingMore{
    color:white;
    position:static;
    width:240px;
    margin: 10px auto;
    text-align:center;
    bottom:10px;
    background:$brand-color;
    padding:15px;
    border-radius:2px;
    font-size:14px;
    font-weight:bold;
    i{
      font-size: 18px;
      margin-right:7px;
    }
}

#siteWrapper{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  @include lbTransitions();
  &.open{
    transform: translate3d($sidebar-width,0,0);;
    //margin-left: 320px;
    opacity:1;
  }
}

#momentumScrollingViewport{
  overflow:scroll;
  width:100%;
  height:400px;
}


.dynamicLink{
  cursor: pointer;
}
