.arabic {
  a, .newsheader{
    font-family: 'Droid Arabic Naskh', serif;
  }
}

.newsheader{
  padding:20px 10px;
  .beta{
    color: $brand_color;
    font-size:0.8em;
    vertical-align: super;
  }
  small {
    font-size: 0.8em;
    display: block;
    color: silver;
    margin-top: 5px;
  }
}
.arabic .newsheader{
  direction:rtl;
  .beta{
    float:left;
    font-family: Montserrat, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  }
}

div.newsitem{
  .newsContent{
    width:190px;
    float:left;
    &.noimage{
      width:275px;
    }
  }
  overflow:auto;
  padding:15px 10px 15px 0;
  margin-left:10px;
  border-top:1px solid #E7D0D2;
  a{
    color:#626262;
    font-size:13px;
    &:hover{
      color: $brand_color;
    }
  }
  .timeAgo{
    font-size:11px;
    color: $brand_color;
  }
  .newsItemImage{
    background:silver;
    width: 70px;
    height: 70px;
    float: right;
    margin-left: 10px;
    overflow:hidden;
  }
  .viralityWrapper{
    color:#BEBEBE;
    margin-top:10px;
    font-size:12px;
    display: block;
    .viralityBox{
      display: inline-block;
      width: 100px;
      height: 5px;
      padding: 0;
      border: none;
      background: #e7e7e7;
      .viralityScore{
        height:5px;
      }
    }
  }
}
.arabic .newsitem {
  padding:15px 0 15px 10px;
  margin-left:0;
  margin-right:10px;
  .newsItemImage{
    float: left;
    margin-left: 0;
    margin-right: 10px;
  }
  .newsContent{
    float:right;
  }
  .timeAgo{
    font-family: Montserrat, HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  }
}
