.stars{
  font-size: 16px;
  .rating{
    font-size:12px;
    color:rgba(0,0,0,0.3);
  }
  .fullstar{
    width:16px;
    &:before{
      color:$brand_color;
      content:'\2605';
    }
  }
  .emptystar{
    width:16px;
    &:before{
      color:silver;
      content:'\2605';
    }
  }

  .halfstar{
    &:before{
      color:silver;
      content:'\2605';
    }
    &:after{
      content:'\2605';
      color:$brand_color;
      width:8px;
      margin-left: -16px;
      position:absolute;
      overflow:hidden;
    }
  }
}
